@import "../../icons.scss";
@import "../../theme.scss";

$accent: "primary";

.candidate{
    // background: lighten(map-get($theme-colors, 'primary'), 47%);
    padding: 1.5rem 2rem 1rem 2rem;
    border: 0.5px solid #ddd;
    border-radius: 1rem;
    @extend .shadow-sm;
    transition: all 0.3s ease-in-out;

    &:hover{
        cursor: pointer;
        border: 0.5px solid #039CD6;
        @extend .shadow-lg;

        .footer {
            .subtext {
                color: #039CD6;
            }
        }
    }
}

hr{
    margin-bottom: 0.5rem !important;
}

.avatar{
    margin-top: 4px;
    width: 35px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 100%;
        width: 100%;
    }

    p {
        margin-bottom: 0;
        color: white;
        font-weight: bold;
    }
}

.name {
    margin-left: 1rem;
    p {
        margin-bottom: 0;
    }

    p.title{
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px;
    }
}

.tag {
    display: flex;
    max-width: 150px;
    padding: 0px 5px;
    background: lighten(map-get($theme-colors, "success"), 35%);
    color: map-get($theme-colors, "success");
    font-weight: 500;
    padding-top: 3px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;

    .context {
        margin-top: 3px;
        font-size: 10px;
    }
}


.divider{
    @extend .mx-2;
    width: 1px;
    border-left: 0.1px solid #dedede;
}

.details {
    // margin-top: 10px;
    // border-top: 0.1px solid #dedede;
    // padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    overflow: hidden;

    .detail{
        text-align: center;
        @extend .mx-1;
        @extend .my-2;
        width: 125px;
        letter-spacing: 0.5px;

        .content {
            display: flex;
            justify-content: center;

            .context {
                display: block;
                justify-content: end;
                font-size: 10px;
                margin-top: 10px;
                margin-left: 3px;
            }
        }

        .title{
            font-weight: bold;
            color: rgba(0,0,0,0.5);
            // color: darken(map-get($theme-colors, "primary"), 35%);
            margin-right: 10px;
            width: 100%;
            text-transform: uppercase;
            font-size: 11px;
        }
    
        .value{
            font-weight: bold;
            font-size: 20px;
        }
    }
}

.location {
    @extend %fa-icon;
    @extend .fal;

    &:before{
        content: fa-content($fa-var-location-circle);
        margin-right: 8px;
        font-size: 20px;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        color: #039CD6;
    }
}

.locationName{
    font-weight: 500;
    font-size: 14px;
}

.it-experience {
    @extend %fa-icon;
    @extend .fal;

    &:before{
        content: fa-content($fa-var-id-card-alt);
    }
}

.footer {

    span.arrowRight{
        @extend %fa-icon;
        @extend .fal;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before{
            margin-left: 0.5rem;
            content: fa-content($fa-var-chevron-right);
            font-weight: bold;
        }
    }

    .subtext{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
        width: 100%;
        // color: lighten(map-get($theme-colors, "primary"), 25%);
        color: darken(map-get($theme-colors, "primary"), 35%);
        text-align: center;
        font-weight: bold;
        padding: 8px 0;

        p {
            margin-bottom: 0;
        }
    }
}